{% block head %}
<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("foreclosureTable");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                var cmpX=isNaN(parseInt(x.innerHTML))?x.innerHTML.toLowerCase():parseInt(x.innerHTML);
                var cmpY=isNaN(parseInt(y.innerHTML))?y.innerHTML.toLowerCase():parseInt(y.innerHTML);
                if (dir == "asc") {
                    if (cmpX > cmpY) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (cmpX < cmpY) {
                    // if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount ++;
            } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>
{% endblock %}

{% if foreclosures|length < 1 %}
<h4 style="text-align: center">No data found. Please choose input file for processing!</h4>
{% else %}
<table id="foreclosureTable">
    <tr>
        <th onclick="sortTable(0)">Type</th>
        <th onclick="sortTable(1)">Attorney</th>
        <th>Plantiff</th>
        <th>SheriffID</th>
        <th>Defendant</th>
        <th>Address</th>
        <th>Parcel</th>
        <th>Status</th>
        <th onclick="sortTable(8)">Principal</th>
    </tr>
    {% for foreclosure in foreclosures %}
    <tr>
        <td>{{ foreclosure.type }}</td>
        <td>{{ foreclosure.attorney }}</td>
        <td>{{ foreclosure.plantiff }}</td>
        <td>{{ foreclosure.sheriffId }}</td>
        <td>{{ foreclosure.defendant }}</td>
        <td>{{ foreclosure.address }}</td>
        <td>{{ foreclosure.parcel }}</td>
        <td>{{ foreclosure.status }}</td>
        <td>{{ foreclosure.principal }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
